
<section class="{{form._class}}">  
    <h2 class="form__title">{{form.title}}</h2>
        <form action="" class="form__block" method="post">
            <input class="form__item" type="text" placeholder="{{form.placeholder1}}">
            <input class="form__item" type="password" placeholder="{{form.placeholder2}}">
            <label class="form__item" for="">
                <input class="form__checkbox" type="checkbox"> {{form.inputTitle}}
            </label>
            <input class="form__item form__btn" type="submit" value="Submit">
        </form>        
</section>



